# Базовый URL, на котором будет размещён сайт.
# Если сайт задеплоен в корне (www.qwe.com), тогда закомментировать.
# Если во вложенном пути (www.qwe.com/asd), тогда VTRU_BASE=/asd/
# Если указано, то должно начинаться и заканчиваться слэшем.
#VTRU_BASE=/some-nested-path/

# Нужно ли скрыть от читателя раздел "Разработчику" ?
VTRU_HIDE_DEVEL_PART=true